<div id="error-card">
  <div class="card">
    <h1 id="ups">Conectando a nuestro servidor</h1>
    <div class="loader"></div>
    <div id="error_detalle">
      <h4>
        Hace clic en el botón ACEPTAR para acceder a nuestro portfolio, esperá
        unos segundos hasta que la app descargue la información de nuestra base
        de datos.
      </h4>
    </div>
    <button
      type="button"
      class="btn btn-primary"
      id="entendido"
      (click)="portfolio()"
      title="Acceder al portfolio"
    >
      Aceptar
    </button>
  </div>
</div>
